
// text colors
.text-color-1 {color: #dae2ec; &:hover{color:#555;}}
.text-color-2 {color: #555; &:hover{color:#888;}}
.text-color-3 {color: #777; &:hover{color:#aaa;}}
.text-color-4 {color: #aaa; &:hover{color:#ccc;}}
.text-color-5 {color: #ccc; &:hover{color:#eee;}}
.text-color-6 {color: #eee; &:hover{color:#fff;}}
.text-color-7 {color: #fff; &:hover{color:#eee;}}

.text-error {color: #C42424;}
.text-success {color: #556F30;}

// Background Colors
// Some explantion for some of the psuedo classes in here, if the background is dark,
// we want to change inputs, and buttons border color to not look fuzzy.
// That's why you see those declarations like at the end of .bg-2

// blue
@mixin bg-1 {
  background-color: #558ee3;
  @include background(linear-gradient(61deg, rgba(85, 142, 227, 1) 0%, rgba(105, 85, 227,1) 100%));
  color: #fff;
  border-color: #3c7fb3;
}
.bg-1 {
  @include bg-1;
}

// darkest grey (black)
@mixin bg-2 {
  color:#fff;
  background-color: #222222;
  &.button:hover { background-color: #e0e0e0; color: #fff; }
  &.button:active { background-color: #e0e0e0; }
}
.bg-2 {
  @include bg-2;
}

// darkest grey transparent (black)
@mixin bg-3 {
  color:#fff;
  background-color: rgba(0,0,0,.5);
  &.button:hover { background-color: #e0e0e0; color: #fff; }
  &.button:active { background-color: #e0e0e0; }
}
.bg-3 {
  @include bg-3;
}


// white
.bg-5 {
  color: #2a6b9d;
  background: #fff;
  border-color: #fff;
  &.button:hover { color: #2a6b9d; background-color: #ffffff;}
  &.button:active { background-color: rgba(255,255,255,.8); }
}

// transparent grey button
.bg-6 {
  color:rgba(255,255,255,1);
  background: rgba(45,43,40,.4);
  &.button:hover {color:rgba(255,255,255,1); background: rgba(45,43,40,.4);}
  &.button:active {color:rgba(255,255,255,1); background: rgba(45,43,40,.3);}
}

// dark grey for main tabs
.bg-7 {
  color: #fff;
  background: #282424;
  border-color: #282424;
  &.button:hover {color:#fff; background: #282424;}
  &.button:active {color:#fff; background: #151313;}
}
.bg-7-active {color:#fff; background: #151313;}

// darker orange
.bg-8 {
  color: #fff;
  background: #286492;
  border-color: #286492;
  &.button:hover {color:#fff; background: #286492;}
  &.button:active {color:#fff; background: #286492; }
}
.bg-8-active {
  background: #286492;
  border-color: #286492;
}

.bg-9 {
  color: #666;
  background: #ddd;
  border-color: #ddd;
  &.button:hover {color:#666; background: #ddd;}
  &.button:active {color:#666; background: #ccc;}
}
.bg-9-active {color:#666; background: #ccc;}


// transparent button
.bg-10 {
  color: rgba(255,255,255,1);
  background: rgba(0,0,0,.3);
  border-color: rgba(0,0,0,.3);
  &.button:hover {color:rgba(255,255,255,1); background: rgba(0,0,0,.3);}
  &.button:active {color:rgba(255,255,255,1); background: rgba(0,0,0,.5);}
}

// blue
.bg-11 {
  color: rgba(255,255,255,1);
  background: rgba(53,113,174,1);
  border-color: rgba(53,113,174,1);
  &.button:hover {color:rgba(255,255,255,1); background: rgba(53,113,174,1);}
  &.button:active {color:rgba(255,255,255,1); background: rgba(53,113,174,.6);}
}


// red
.bg-12 {
  color: #fff;
  background: #ae3535;
  border-color: #ae3535;
  &.button:hover {color:#fff; background: #ae3535;}
  &.button:active {color:#fff; background: rgba(174,53,53,.6);; }
}

