::selection {
  background: $selection-color;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,.2);
}

// set site wide typography on elements
body {
font-size: $font-size;
line-height:$line-height;
@include fontstack;
color: #111;
-webkit-font-smoothing: antialiased;
-webkit-text-size-adjust: none;
}
input, textarea {@include fontstack;font-size: $font-size;}
