.button {
  background-color: rgba(255,255,255,.15);
  border-radius: 32px;
  color: rgba(255,255,255,.50);
  cursor: pointer;
  display: inline-block;
  font-size: .875em;
  font-weight: bold;
  height: 32px;
  letter-spacing: 2px;
  line-height: 32px;
  padding: 0 24px;
  position: relative;
  text-align:center;
  text-decoration: none;
  text-transform: uppercase;
  &:hover {  
    background-color: rgba(255,255,255,.20);
    color: rgba(255,255,255,.70);
  }
  &:active {
    background-color: rgba(255,255,255,.10);
    color: rgba(255,255,255,.50);
  }
  -webkit-touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.button.is-disabled{
  opacity:.3;filter: alpha(opacity=30);
}

.button--main{
  @extend .button;
  border: 2px solid rgba(255,255,255,1);
  color: rgba(255,255,255,1);
  background-color: transparent;
  line-height: 28px;  
  &:hover {  
    color: rgba(255,255,255,1);
  }
  &:active {
    color: rgba(255,255,255,1);
  }
}
