.heading{line-height: 1.1em; @extend .element; font-weight: bold;}

// 30px
.h1 {@extend .heading; font-size: 1.875em;text-rendering: optimizeLegibility;line-height: 1.2em;}

// 24px
.h2 {@extend .heading; font-size: 1.5em;text-rendering: optimizeLegibility;line-height: 1.2em;}

// 21px
.h3 {@extend .heading; font-size: 1.3125em;text-rendering: optimizeLegibility;}

// 18px
.h4  {@extend .heading; font-size: 1.125em;text-rendering: optimizeLegibility;}

// 16px
.h5 {@extend .heading; font-size: 1em;}

// 14px
.h6 {
  @extend .heading; 
  font-size: .875em; 
  letter-spacing: 2px; 
  text-transform: uppercase;
}


// 36px
.heading--large {@extend .heading; font-size: 2.25em;text-rendering: optimizeLegibility;}

// 48px
.heading--xlarge {@extend .heading; font-size: 3em;text-rendering: optimizeLegibility;}

// 60px
.heading--xxlarge {@extend .heading; font-size: 3.75em;text-rendering: optimizeLegibility;}


// start extending here
.h5{text-transform: uppercase;}
