.icon {
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 20px;
  height: 20px;
  margin-top: -4px;
  background-image: url('no-repeat.png');
  background-repeat: no-repeat;
  vertical-align: middle;
}

.icon-large {
  @extend .icon;
  margin-top: 0;
  width: 46px;
  height: 46px;
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .icon {
    background-image: url('no-repeat-2x.png');
    background-size: 200px 566px;
  }
}

.icon-fl {
  display: block;
  float: left;
}

.icon-fr {
  display: block;
  float: left;
}

.icon-inline {
  margin-top: -2px;
}

.icon-no-text {
  margin-right: 0;
  text-indent: -10000px;
}

.icon-logo {@extend .icon; background-position: -80px 0; width:25px; height:25px; }
.icon-logo-black {@extend .icon;  background-position: -100px 0; width:25px;  height:25px;}
.icon-logo-black-transparent {@extend .icon;  background-position: -120px 0; width:25px;  height:25px;}

.icon-lmenu {@extend .icon;  background-position: 0 0; }
.icon-lmenu-black {@extend .icon;  background-position: -20px 0; }
.icon-lmenu-black-transparent {@extend .icon;  background-position: -40px 0; }

.icon-menu {@extend .icon;  background-position: 0 -20px; }
.icon-menu-black {@extend .icon;  background-position: -20px -20px; }
.icon-menu-black-transparent {@extend .icon;  background-position: -40px -20px; }

.icon-close {@extend .icon;  background-position: 0 -40px; }
.icon-close-black {@extend .icon;  background-position: -20px -40px; }
.icon-close-black-transparent {@extend .icon;  background-position: -40px -40px; }

.icon-down {@extend .icon;  background-position: 0 -60px; }
.icon-down-black {@extend .icon;  background-position: -20px -60px; }
.icon-down-black-transparent {@extend .icon;  background-position: -40px -60px; }

.icon-previous-large{@extend .icon-large;  background-position: 0 -280px; }
.icon-previous-large-black{@extend .icon-large;  background-position: -60px -280px; }
.icon-previous-large-black-transparent{@extend .icon-large;  background-position: -120px -280px; }

.icon-next-large{@extend .icon-large;  background-position: 0 -220px; }
.icon-next-large-black{@extend .icon-large;  background-position: -60px -220px; }
.icon-next-large-black-transparent{@extend .icon-large;  background-position: -120px -220px; }

.icon-correct-large{@extend .icon-large;  background-position: 0 -340px; }
.icon-incorrect-large{@extend .icon-large;  background-position: -60px -340px; }

