// media
.media {@extend .block;overflow:hidden; _overflow:visible; zoom:1;}
.media-block {float: left;}
.media-block--right {float: right;}
.media-body {display:block;overflow:hidden; _overflow:visible; zoom:1;}
.media-content-wrapper {position: relative;}
.media-header {line-height: 1em;}
.media-footer {@extend .clearfix;line-height: 1em;}
.media-footer-item {float: left;margin-right: .6em;}

