.nav {

}


.nav--question{
  .nav-link {
    display: inline-block;
    margin-right: 24px;
  }
  .nav-link:last-child{margin-right: 0}
}

.nav-left{
  left: 24px;
  position: absolute;
  top:0;
  z-index: 1;
}
.nav-right{
  position: absolute;
  right: 24px;
  top:0;
  z-index: 1;
}
.nav-center{
  left: 0;
  position: absolute;
  text-align: center;
  top:0;
  width: 100%;
  z-index: 0;
}

.nav-sidebar{
  @include bg-2;
  height: 100%;
  padding: 24px 36px;
  position: absolute;
  top: 0;
  z-index: 1;
  .nav-button {
    width: 200px;
  }
  .nav-heading {
    color:$text-color-de-emphasized;
  }
}

.nav-sidebar--quiz{
  @extend .nav-sidebar;
  left: auto;
  right: 0;
}

.nav-link {
  @extend .link-light;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: block;
  font-size: 14px;
  font-weight: bold;
  line-height: 44px;
}

.nav-link--question {
  @extend .nav-link;
  display: block;
  font-size: 18px;
  font-weight: normal;
  height: 44px;
  letter-spacing: 0px;
  line-height: 44px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: none;
  white-space: nowrap;
}

.nav-link--branding{
  display: block;
  padding-top: 8px;
  left: -24px;
  position: relative;
}

.nav-section{
  padding: 0 36px 24px;
  border-bottom: 1px solid rgba(255,255,255,.15);
  margin:0 -36px 8px; 
}

.nav-section--centered{
  @extend .nav-section;
  text-align: center;
}

.nav-heading {
  @extend .h6;
  margin-bottom: 0;
}

