.tag {
  position: relative;
  display: block;
  float: left;
  height: 30px;
  padding:.0 .4em;
  margin-right: 7px;
  margin-top: 2px;
  line-height: 30px;
  font-size: .75em;
  font-weight: bold;
  border-radius: 4px;
  @extend .bg-3;
}

.tag__body {
  float: left;
  z-index: 3;
  position: relative;
  display: block;
  font-style: normal;
  margin: 0 2px;
}

.tag__image{
  width: 30px;
  float: left;
  margin-right: 6px;
  border-radius: 4px 0 0 4px;
  overflow: hidden;
}